.bodyMoviesTitle {
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    color: #052c6f;
    text-align: center;
    margin-top: 4rem;
    font-size: 4rem;
}

.moviesCarouselWrap {
    height: 40rem;
}
.sliderAndButtonWrap {
    position: relative;
}
.carouselSlide {
    display: flex;
    img {
        width: 33.3%;
        object-fit: cover;
    }
}
.moviesNextButton {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.moviesBackButton {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
