.bodyMoviesTitle {
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    color: $purple;
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
    @media screen and (min-width: $md_breakpoint) {
        font-size: 4rem;
    }
}
