nav {
    z-index: 2;
    width: 100%;
    background-color: white;
    padding: 0.5rem 2rem;
    .logo {
        width: 17rem;
        @media screen and (min-width: $md_breakpoint) {
            width: 20rem;
        }
    }
}
